<h1>Show Me Your Beard</h1>

<% if flash[:errors] %>
    <% flash[:errors].each do |message| %>
    <p><font color='crimson'><%= message %></font></p>
  <% end %>
<% end %>

<%= form_with model: @beard do |f| %>
    <p>Picture URL: <%= f.text_field :picture_url %></p>
    <p>Beard Type: <%= f.select :beard_type, [['Balbo', 'Balbo'], ['Chin Curtain', 'Chin Curtain'],
                    ['Chinstrap', 'Chinstrap'], ['Friendly Muttonchops', 'Friendly Muttonchops'], 
                    ['Full Beard', 'Full Beard'], ['Fu Manchu', 'Fu Manchu'], ['Goat Patch', 'Goat Patch'],
                    ['Goatee', 'Goatee'], ['Goatee and Moustache', 'Goatee and Moustache'],
                    ['Horseshoe Moustache', 'Horseshoe Moustache'], ['Muttonchops', 'Muttonchops'],
                    ['Neckbeard', 'Neckbeard'], ['Shenandoah', 'Shenandoah'],['Sidewhiskers', 'Sidewhiskers'],
                    ['Soul Patch', 'Soul Patch'], ['Stubble', 'Stubble'],['Van Dyke', 'Van Dyke'], ['Zappa', 'Zappa']] %></p>
    <%= f.submit %>
<% end %>
