<h1>Edit User</h1>

<% if flash[:errors] %>
  <% flash[:errors].each do |message| %>
    <p><font color='red'><%= message %></font></p>
  <% end %>
<% end %>

<%= form_with model: @user do |f|%>
    <p>User Name: <%= f.text_field :user_name %></p>
    <p>Name: <%= f.text_field :name %></p>
    <p>Age: <%= f.number_field :age %></p>
    <p>Bio: <%= f.text_area :bio %></p>
    <p>Instagram: <%= f.text_field :instagram %></p>
    <p>Twitter: <%= f.text_field :twitter %></p>
    <p>Profile Picture URL: <%= f.text_field :profile_picture %></p>
    <p>Password: <%= f.password_field :password %></p>
    <p>Confirm Password: <%= f.password_field :password_confirmation %></p>
    <p><%= f.submit %></p>
<% end %>