<div>
    <% if session[:user_id] == @user.id%>
        <%= link_to 'Add Beard', new_beard_path %>
    <% end %>
</div>
<h1>Username: <%= @user.user_name %></h1>
<p></p>
<img src="<%= @user.profile_picture %>">
<h2>Name: <%= @user.name %></h2>
<h3>Bio: </h3><br>
<p><%= @user.bio %></p>
<h2>My Beards: </h2><br>
<div>
    <% @user.beards.each do |beard|%>
            <a href="/beards/<%= beard.id  %>">
                <img src="<%= beard.picture_url %>" id="thumbnail" >
            </a>
    <% end %>
</div>



