<!DOCTYPE html>
<html>
  <head>
    <title>Rate My Beard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div>
        <a href="/">
          <img id="homelink" src="https://cdn.pixabay.com/photo/2017/10/05/21/27/beard-2821057_960_720.png">
        </a>
        
      </div>
      <div>

      
        
        <% if session[:user_id] %>
          <div>
            <%= link_to 'Rate Beards', "/beards/#{Beard.all.sample.id}"  %>
          </div>
          <div>
            <%= link_to 'Profile', user_path(session[:user_id])%> | 
            <%= link_to 'Log Out', logout_path, method: 'post' %>
          </div>
        <% else %>
          <%= link_to 'Login', kenny_login_path %>
          <%= link_to 'Sign Up', new_user_path %>
        <% end %>

      </div>
    <%= yield %>
  </body>
</html>
