<!DOCTYPE html>
<html>

  <head>
    <title>Rate My Beard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  

  <body bgcolor=grey>
    <table class="tableWithBackground" width="auto" height="350px">
    
    
    <img class="tableBackground" src="https://i.imgur.com/eVbpFMf.jpg">

    <tr>
      <td colspan="5"></td>
    </tr>

    <tr>
      <td colspan="5"></td>
      <td colspan="5" style="font-size: 4em; font-weight: bold; position: absolute; top: 75px;">
        <a href="/">RateMyBeard</a></td>
    </tr>
    <tr>
      <td width="100px" height="20px" halign="right" valign="center">
        <% if session[:user_id] %>
          <a href="/users/<%= session[:user_id] %>">My Profile</a>
        <% else %>
          <%= link_to 'Login', kenny_login_path %>
        <% end %>
      </td>
      <td width="100px" height="20px" halign="right" valign="center">
        <% if session[:user_id] %>
          <%= link_to 'Log Out', logout_path, method: 'post' %>
        <% else %>
          <%= link_to 'Sign Up', new_user_path %>
        <% end %>
      </td>
      <td width="100px" height="20px" halign="right" valign="center">
        <% if session[:user_id] && RandomBeard.new(session[:user_id]).beard != nil%>
          <%= link_to 'Rate Beards', "/beards/#{RandomBeard.new(session[:user_id]).beard.id}" %>
        <% elsif session[:user_id] %>
          <% flash[:carrots] = "You've already rated all the beards!" %>
          <%= link_to 'Rate Beards', "/beards/#{Beard.all.sample.id}"%>
        <% end %>
      </td>
    </tr>

    
  </table>
    <%= yield %>
  </body>
</html>
